<div class="container"> 
    <!-- image & title --> 
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="assets/images/burger1.gif">
            {{!-- <img src="assets/images/burger2.gif"> --}}
            <h1>Burger Shak</h1>
        </div>
    </div>
</div>

<!-- input form & submit button -->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input id="orderBurgerInput" class="form-control form-control-lg" type="text" placeholder="Order your Burger!">  
            </div>
            <button id="submit" type="submit" class="btn btn-primary mb-2">Cook my burger!</button>
        </form>
    </div>
    <div class="col"></div>
</div>

<!-- 2(row col-6) display added & deleted burgers on oposite sides of the viewport -->

<div class="container">
    <div class="row">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
        </div>
    </div>
</div>